<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Circuitos</title>
</head>
<body>
    <div class="card-group p-3 m-2">
        <div class="card">
          <img src="../../assets/img/circuito_famatina.jpg"  class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Circuito Famatina</h5>
            <p class="card-text">Dos atractivos de significativo valor histórico- cultural matizan la belleza de San Nicolás, pintoresco pueblo sumido en el Valle de Famatina. Uno de ellos se constituye a partir de los restos de una construcción aborigen llamada Reloj del Inca, la cual consiste en un conjunto de piedras dispuestas en amplio círculo en torno a una roca central.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Contacto famatina@gmail.com</small>
          </div>
        </div>
        <div class="card">
          <img src="../../assets/img/circuito_sanagasta.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Circuito Sanagasta</h5>
            <p class="card-text">Parque Geológico Sanagasta
                El parque geológico de Sanagasta brinda la posibilidad de dimensionar tiempos pasados, contiene fósiles de nidadas de dinosaurios y plantas, con una antigüedad de 65 a 95 millones de años.
                
                Estos hallazgos fueron realizados por el CRILAR, cuyos increíbles hallazgos reviven el interés depositado en la evolución, composición y comportamiento de aquellos grandes saurios..</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Contacto sanagasta@gmail.com</small>
          </div>
        </div>
        <div class="card">
          <img src="../../assets/img/Chilecito.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Circuito Chilecito</h5>
            <p class="card-text">Chilecito es la segunda ciudad en importancia de La Rioja, aunque en sus calles, paseos, casas y monumentos persiste la típica calidez pueblerina, y además de ser la base ideal para visitar los principales atractivos de la provincia, su casco urbano es también un centro turístico por valores propios.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Contacto chilecito@gmail.com</small>
          </div>
        </div>
      </div>
</body>
</html>
